.data-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);  
}

.data-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }

  .data-table th,
.data-table td {
  padding: 12px 15px;
}

.data-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.data-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.data-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@media only screen and (max-width: 640px) {
    .frame {
      padding: 20px;
    }
    .data-table thead, tbody, th, td, tr {
      display: block;
    }

    .data-table thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    .data-table td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
    .data-table td:nth-of-type(4) {
      border-bottom: 0;
    }
    .data-table tr {
      border-bottom: 1px solid #bbb;
    }
    .data-table td:before {
      position: absolute;
      top: auto;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      font-weight: bold;
    }
    .data-table td:nth-of-type(1):before {
      content: "Country";
    }
    .data-table td:nth-of-type(2):before {
      content: "Region";
    }
    .data-table td:nth-of-type(3):before {
      content: "Country area";
    }
  }